.Rproj.user
.Rhistory
.RData
.Ruserdata
data-user
part1-iuc-workbook.html
part2-k-means-workbook.html
k-means-workbook-script.R
k-means-workbook.txt
part1-example-script.R
script-iuc-day1-v2.R
script-iuc-day1.R
